.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    width: 20%; /* Sidebar ocupa el 20% de la pantalla */
    background-color: #f0f0f0;
}

.ProfilePage{
    min-width: 80%;
    margin-top: 30%;
}
.mainContent {
    max-width: 80%; /* MainContent ocupa el 80% restante */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Permite hacer scroll si el contenido excede la altura */
    margin-bottom: 60px;
}

.card-grid {
    display: flex;
    flex-direction: column; /* Para una columna de cards */
    gap: 20px;
    width: 100%; /* Asegura que el grid ocupe el ancho de mainContent */
    align-items: center; /* Centra las cards en el espacio disponible */
}

.card-grid > * {
    width: 80%; /* Cada card ocupa el 80% del ancho disponible */
    max-width: 800px; /* Tamaño máximo opcional */
    box-sizing: border-box;
}


@media (max-width: 900px) {
    .sidebar {
        width: 25%; 
    }
    .mainContent {
        width: 75%;
    }
    .card-grid > * {
        width: 90%; 
    }
}

@media screen and (max-width: 450px) {
    
        .ProfilePage{
    
            padding: 10px;
            margin-bottom: 30%;
            z-index: 1;
        }

        .card-grid{
            margin-top: 10%;
        }


    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .profileHeader {
        margin:0;
    }
}